// NAVBAR
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 7rem;
  position: relative;
  top: 0;
  

  @media only screen and (max-width: 580px) {
    background: var(--body-color);
    position: fixed;
    top: -100%;
    right: 0;
    // z-index: 1000;
    margin: 0;
    width: 100%;
    height: auto;
    justify-content: center;
    box-shadow: 0 .3rem .3rem rgba(#000, .2);
    transition: .2s all ease-out;
    // display: none;  
  }

  &.active {
    @media only screen and (max-width: 580px) {
      top: 8rem;
    }
  }
  

  &__list {
    list-style: none;
    display: flex;

      // MOBILE SETTING
    @media only screen and (max-width: 580px) {
      flex-direction: column;
    }

    &-item {
      padding: 0 1rem;
      @media only screen and (max-width: 580px) {
        display: block;
        padding: 0;
        margin: 4rem 0;
      }
    }

    &-link {
      text-decoration: none;
      color: var(--text-color);
      font-size: 1.6rem;
      font-weight: 500;
      letter-spacing: 1px;
      padding: 1rem;

      &:hover {
        color: var(--first-color);
      }

      @media only screen and (max-width: 580px) {
        display: block;
        font-size: 2rem;
        text-align: center;
        padding: 0;
      }


    }
  }
}

// HOME SECTION
.home {
  &__text {
    flex: 0 0 50%;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: $animate-delay;

    opacity: 0;
    transform: translateY(5rem);
    
    @media only screen and (max-width: 719px) {
      align-self: flex-start;
      padding: 0;
      flex: 1;
    }
  
  }

  &__fig {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $animate-delay;

    opacity: 0;
    transform: translateX(5rem);
    
    @media only screen and (max-width: 719px) {
      align-self: center;
      justify-self: flex-start;
      margin-top: -10rem;
      flex: 1;
    }
  
  }

  &__img {
    width: 45rem;
  
    // @media only screen and (max-width: 719px) {
    //   width: 40rem;
    // }
  }
}

.menu-item {
  
  &.card {
    background: var(--container-color);
    margin: 0 5rem;
    padding: 3rem 2rem;
    box-shadow: 0 .3rem .3rem rgba(#000, .2);
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: .8rem;

    @media only screen and (max-width: 1126px) {
      margin: 0 4rem;
    }
    
    @media only screen and (max-width: 923px) {
      // margin: 0 30rem;
      // margin: 0;
      padding: 5rem 2rem;
    }

    
  }
  &__img {
    height: 8rem;
    align-self: center;
    @media only screen and (max-width: 923px) {
      height: 15rem;
    }
  }

  &__title {
    font-size: 1.6rem;
    margin: 1rem 0 .5rem 0;
    color: var(--title-color);
    @media only screen and (max-width: 923px) {
      font-size: 2.5rem;
    }
  }

  &__subtitle {
    color: var(--text-color);
    margin-bottom: .5rem;
    font-size: 1.4rem;

    @media only screen and (max-width: 923px) {
      font-size: 2rem;
    }
  }

  &__price {
    color: var(--title-color);
    font-size: 1.4rem;
    font-weight: 500;

    @media only screen and (max-width: 923px) {
      font-size: 2rem;
    }
  }

  &__btn {
    align-self: flex-end;
    border: none;
    outline: none;
    background: var(--first-color);
    color: #fff;
    border-top-left-radius: .8rem;
    border-bottom-right-radius: .8rem;
    padding: .5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    transition: .2s all;

    &:hover {
      background: var(--first-color-alt);
    }

    @media only screen and (max-width: 923px) {
      padding: .8rem 1rem;
    }

    @media only screen and (max-width: 450px) {
      padding: .5rem 1rem;
    }
  }

  & span {
    @media only screen and (max-width: 450px) {
      font-size: 3.5rem;
    }
  }
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-y: scroll;
  transition: .2s all;
  
  opacity: 0;
  visibility: hidden;

  &__bg {
    width: 100%;
    height: 100%;
    background: rgba(#000, .5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__body {
    border-radius: .5rem;
    min-width: 70vw;
    background: var(--container-color);
    padding: $container-padding;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    transform: scale(.5);
    transition: .2s all;


    // form itself
    & .contact-form {
      display: block;
      width: 100%;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;

    & .modal__body {
      transform: scale(1);
    }
  }
}

.input__group {
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }
}

.input__label {
  font-size: 1.6rem;
  display: block;
  color: var(--text-color);
  margin-bottom: .5rem;
}

.input {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  background: none;
  outline: none;
  border: 1px solid;
  border-color: var(--border-color);
  background: transparent;
  color: var(--text-color);
  padding: .8rem 1rem;
  display: block;
  min-width: 100%;
  border-radius: .8rem;

  &.invalid {
    border: 1px solid red;
  }
}
.input::placeholder {
  color: var(--text-color);
}


.notification {
  background: var(--container-color);
  box-shadow: .3rem .5rem .2rem rgba(#000000,.1);
  border-left: 2px solid var(--first-color-alt);
  border-radius: .5rem;
  width: 40%;
  padding: 1rem 1.2rem;
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1500;
  transition: 1s all;

  &.show {
    top: 7rem;
  }
}