.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-content: center;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-2 {
  margin-top: 2rem;
}
.text-center {
  text-align: center;
}

.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.mx-10 {
  margin-left: 10rem;
  margin-right: 10rem;
}


.moveY{
  
  opacity: 0;
  transform: translateY(-5rem);

}

.movedown{
  
  opacity: 0;
  transform: translateY(5rem);

}